.about-container {
  margin-top: 50px;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container div {
  flex-basis: 45%;
  height: 90vh;
  border: 2px solid goldenrod;
}

#about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center left;
}

#about-nav span {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 35%;
  transition: 0.5s ease-in-out;
}

#about-nav .active {
  color: goldenrod;
  text-transform: uppercase;
  font-size: 2.5rem;
}

#about-nav span:hover {
  font-size: 2.5rem;
}

@keyframes fadeIn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.display-cont div {
  animation: fadeIn 1s;
}