.about-container {
  margin-top: 50px;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container div:first-child {
  flex-basis: 25%;
}

.about-container div {
  flex-basis: 55%;
  height: 90vh;
  border: 2px solid goldenrod;
}

#about-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center left;
  color: lightgray;
}

#about-nav span {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 15%;
  transition: 0.2s ease-in-out;
}

#about-nav .active {
  color: goldenrod;
  font-size: 3rem;
}

#about-nav span:not(.active):hover {
  font-size: 2.5rem;
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

#about-content div {
  width: 95%;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  font-size: large;
  color: lightgray;
  animation: fadeIn 1s;
}

#about-cont {
  font-weight: 400;
  min-height: 100%;
  justify-content: center;
}

#experience-cont div {
  border: 2px solid blue;
}