#home .section {
    display: flex;
    width: 100%;
    height: 33%;
    justify-content: space-evenly;
}

#profile-picture {
    width: 33%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid black;
    transition: width 1s ease;
}

#profile-picture.expand {
    width: 0;
}
