.container {
    display: flex;
    justify-content: center;
}

.nav-contents {
  min-height: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-contents li {
  min-height: 50px;
  margin: 0 10px;
  border: 2px solid white;
  transition: width 1s ease;
  cursor: pointer;
}

#about-li {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease, width 1s ease, display 0s 1s;
}

#about-li.show {
  opacity: 1;
  width: 30vw;
  display: block;
}

#home-li {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease, width 1s ease, display 0s 1s;
}

#home-li.show {
  opacity: 1;
  width: 30vw;
  display: block;
}

#projects-li {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease, width 1s ease, display 0s 1s;
}

#projects-li.show {
  opacity: 1;
  width: 30vw;
  display: block;
}

/*
.nav-contents li {
  width: 33vw;
  cursor: pointer;
  border: 2px solid white;
}


.nav-contents li:nth-child(2) {
    display: block;
}
*/

/*
@keyframes fadeOut {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
  }
}
*/

@keyframes shrinkIn {
  from {
    width: 100%;
  }
  to {
    width: 0%
  }
}

@media screen and (max-width: 767px) {
  .hidden-li {
    opacity: 1;
    transform: none;
    transition: opacity 0.5s ease, transform 0.5 ease;
  }

  .hidden-li.hide {
    width: 100%;
    animation: fadeOut 0.5s ease;
  }
}

@media screen and (min-width: 768px) {
  .hidden-li {
    width: 100%;
    transition: width 0.5s ease;
  }

  .hidden-li.hide {
    width: 0%;
  }
}