.container {
    display: flex;
    justify-content: center;
}

.nav-contents {
  min-height: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-contents li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50px;
  margin: 0 10px;
  border: 2px solid white;
  transition: width 1s ease;
  cursor: pointer;
}

#about-li {
  width: 30vw;
  display: block;
}

@media screen and (min-width: 768px) {
  #home-li {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: opacity 0.3s ease, height 1s ease, width 1s ease, display 0s 1s;
  }
  
  #home-li.show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 767px) {
  #home-li {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: opacity 0.3s ease, height 1s ease, width 1s ease, display 0s 1s;
  }
  
  #home-li.show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    width: 50px;
    height: 50px;
  }
}

#projects-li {
  width: 30vw;
  display: block;
}

#avatar {
  width: 100%;
  height: 100%;
}

@keyframes shrinkIn {
  from {
    width: 100%;
  }
  to {
    width: 0%
  }
}

@media screen and (max-width: 767px) {
  .hidden-li {
    width: 0;
    transition: width 0.5s ease;
  }

  .hidden-li.show {
    width: 0;
  }
}