.container {
  display: flex;
  justify-content: center;
}

.nav-contents {
  min-height: 15%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-contents li {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  margin: 0 0;
  color: lightgray;
  border-top: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
  transition: width 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
}

.nav-contents li:hover {
  background-color: goldenrod;
  color: black;
}

#about-li {
  width: 30vw;
  display: block;
}

@media screen and (min-width: 768px) {
  #home-li {
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity 1s ease, height 1s ease, width 1s ease, display 0s 1s;
  }
  
  #home-li.show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    width: 30vw;
    border: 2px solid goldenrod;
  }
}

@media screen and (max-width: 767px) {
  #home-li {
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity 1s ease, width 1s ease, display 0s 1s;
  }
  
  #home-li.show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    width: 30vw;
  }
}

#projects-li {
  width: 30vw;
  display: block;
}

@media screen and (max-width: 767px) {
  .hidden-li {
    width: 0;
    transition: width 0.5s ease;
  }

  .hidden-li.show {
    width: 0;
  }
}