#grid-container {
  display: grid;
  width: 90%;
  height: 90%;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

#projects > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  position: relative;
  width: 80%;
  height: 100%;
  margin-bottom: 2rem;
  border-top: 4px solid goldenrod;
  border-bottom: 4px solid goldenrod;
}

.project-cover {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-transform: uppercase;
  background-color: #1a1a1a;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.project-cover > span {
  position: relative;
  top: 27.5%;
  height: 15px;
  padding: 1%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  color: white;
  font-weight: bold;
  text-transform: none;
  background-color: black;
  border-radius: 20%;
}

.project-cover span:first-child {
  text-transform: uppercase;
  padding: 0%;
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 5%;
  font-size: 1.5rem;
  color: goldenrod;
  font-weight: 550;
}

.project-cover p {
  overflow-y: auto;
  text-align: center;
  color: white;
  height: 40%;
  width: 95%;
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: none;
  line-height: 1.2rem;
}

.project-back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d0d0d;
  z-index: 1;
}

.project:hover {
  .project-cover {
    opacity: 0.85;
  };

  .project-back div {
    filter: blur(5px) grayscale(100%);
  }
}

#MP-Background {
  background-image: url('../images/myportfolio.jpg');
}

#CC-Background {
  background-image: url('../images/crisisconnect.jpg');
}

#OTG-Background {
  background-image: url('../images/onthegrind.jpg');
}

#EBS-Background {
  background-image: url('../images/8bitshooter.jpg');
}

#SV-Background {
  background-image: url('../images/sortingvisualizer.jpg');
}

#PWA-Background {
  background-image: url('../images/pokerwebapp.jpg');
}

@media screen and (max-width: 767px) {
  #grid-container {
    display: grid;
    width: 90%;
    height: 90%;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto;
    row-gap: 2rem;
  }

  .project {
    width: 100%;
    height: 100%;
  }
  
  .project-cover {
    opacity: 1;
    height: 75%;
    transform:translateY(30%);
  }
  .project-back {
    height: 25%;
  }

  .project-cover span:first-child {
    top: 2%;
    font-size: 1.25rem;
  }

  .project-cover span {
    top: 25%;
    font-size: 0.9rem;
  }

  .project-cover p {
    color: white;
    width: 95%;
    position: absolute;
    bottom: 0;
    font-weight: 500;
    font-size: 0.65rem;
    text-transform: none;
    line-height: 1.2rem;
  }

  #projects > h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}