#gridContainer {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: auto;
  row-gap: 3rem;
}

#projects > h1 {
  font-size: 60px;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.project {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  gap: 2rem;
  position: relative;
  width: 90%;
  height: 100%;
  margin-bottom: 2rem;
  border-top: 4px solid goldenrod;
  border-bottom: 4px solid goldenrod;
  transition: 0.2s ease-in-out;
}

.project:hover {
  transform: scale(1.01);
}

.projectDesc {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;
  background-color: #1a1a1a;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.skills {
  width: 100%;
  height: 20%;
}

.skills * {
  margin-right: 2.5%;
  margin-left: 2.5%;
  text-transform: none;
  color: goldenrod;
}

.projectDesc h1 {
  text-transform: uppercase;
  padding: 0%;
  background-color: transparent;
  display: flex;
  font-size: 2.25rem;
  color: lightgray;
  font-weight: 550;
}

.projectDesc p {
  width: 95%;
  text-align: center;
  color: lightgray;
  bottom: 0;
  font-weight: 700;
  text-transform: none;
}

.projectImg {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d0d0d;
  z-index: 1;
}

#MP-Background {
  background-image: url('../images/myportfolio.jpg');
}

#CC-Background {
  background-image: url('../images/crisisconnect.jpg');
}

#OTG-Background {
  background-image: url('../images/onthegrind.jpg');
}

#EBS-Background {
  background-image: url('../images/8bitshooter.jpg');
}

#SV-Background {
  background-image: url('../images/sortingvisualizer.jpg');
}

#PWA-Background {
  background-image: url('../images/pokerwebapp.jpg');
}

@media screen and (max-width: 768px) {
  .project {
    flex-direction: column;
    gap: 1rem;
  }

  #projects > h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .projectImg {
    display: none;
  }
  
  .projectDesc {
    height: 75%;
  }

  .projectDesc h1 {
    font-size: 1.5rem;
  }

  .projectDesc p {
    font-size: small;
  }

  .skills * {
    transform: scale(0.8);
  }
}